<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!DOCTYPE html>
<html>
   
   <head>
      <script src = "https://www.google.co.in/maps/place/Bhawani+Bhawan/@22.528047,88.3342863,17z/data=!3m1!4b1!4m5!3m4!1s0x3a027745871ea77d:0x8b19122ce4d2c834!8m2!3d22.528047!4d88.336475"></script>
      
      <script>
         var myCenter = new google.maps.LatLng(22.5285, 88.3369);
         function loadMap(){
			
            var mapProp = {
               center: myCenter,
               zoom:5,
               mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            
            var marker = new google.maps.Marker({
               position: myCenter,
               title:'Click to zoom'
            });
            
            marker.setMap(map);
            
            //Zoom to 7 when clicked on marker
            google.maps.event.addListener(marker,'click',function() {
               map.setZoom(9);
               map.setCenter(marker.getPosition());
            });
         }
      </script>
      
   </head>
   
   <body onload = "loadMap()">
      <div id = "googleMap" style = "width:580px; height:400px;"></div>
   </body>
   
</html>




<%= yield %>

</body>
</html>
