<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!DOCTYPE html>
<html>
   
   <head>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.363637419994!2d88.33428631433546!3d22.528046985205663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027745871ea77d%3A0x8b19122ce4d2c834!2sBhawani+Bhawan!5e0!3m2!1sen!2sin!4v1474286462180" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      
      <script>
         var myCenter = new google.maps.LatLng(22.5285, 88.3369);
         function loadMap(){
			
            var mapProp = {
               center: myCenter,
               zoom:5,
               mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            
            var marker = new google.maps.Marker({
               position: myCenter,
               title:'Click to zoom'
            });
            
            marker.setMap(map);
            
            //Zoom to 7 when clicked on marker
            google.maps.event.addListener(marker,'click',function() {
               map.setZoom(9);
               map.setCenter(marker.getPosition());
            });
         }
      </script>
      
   </head>
   
   <body onload = "loadMap()">
      <div id = "googleMap" style = "width:580px; height:400px;"></div>
   </body>
   
</html>




<%= yield %>

</body>
</html>
